<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giog.gioniusgeneration" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GameBeginnerActivity"
            android:label="@string/title_activity_game_beginner"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.GameEasyActivity"
            android:label="@string/title_activity_game_easy"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.GameNormalActivity"
            android:label="@string/title_activity_game_normal"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.GameHardActivity"
            android:label="@string/title_activity_game_hard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.GameExpertActivity"
            android:label="@string/title_activity_game_expert"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.GameGeniusActivity"
            android:label="@string/title_activity_game_genius"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.HighScoresActivity"
            android:label="@string/title_activity_game_genius"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.WinActivity"
            android:label="@string/title_activity_win"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
